<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Hangfire SQL Server connection string -->
		<add name="HangfireConnection" connectionString="Data Source=;Initial Catalog=;User ID=;Password=;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<!-- Hangfire Dashboard settings -->
		<add key="owin:AppStartup" value="Hangfire.Dashboard.Owin.Startup, Hangfire"/>
	</appSettings>

	<!-- Hangfire OWIN configuration -->
	<system.webServer>
		<handlers>
			<add name="Owin" verb="" path="hangfire" type="Hangfire.Server.AspNetCoreHttpJobActivator, Hangfire.AspNetCore" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>

	<!-- Hangfire SMTP email settings (if you're using SMTP for email notifications) -->
	<system.net>
		<mailSettings>
			<smtp from="">
				<network host="smtp-mail.outlook.com" port="587" userName="" password="" enableSsl="true"/>
			</smtp>
		</mailSettings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
